@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
@import url(./background.css);
@import url(./textos.css);
@import url(./posicionamento.css);

:root {
  --vermelho-claro: hsl(7, 99%, 70%);
  --azul-muito-escuro: hsl(212, 27%, 19%);
  --amarelo:  hsl(51, 100%, 49%);
}

/* Estilo global */
body {
  color: hsl(232, 10%, 55%);
  font-size: 1.125rem;
  font-family: "Barlow", sans-serif;
}

/* Estilo do footer do Frontend-Mentor*/

.attribution {
  font-size: 11px;
  text-align: center;
}

/* Icones hover */
.nav-footer:hover, .icones:hover{
  color: white;
}