@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

:root {
  /* Cores primarias */
  --vermelho-claro: hsl(7, 99%, 70%);
  --ciano-escuro-moderado: hsl(168, 34%, 41%); /* footer */

  /* Cores neutras */
  --azul-muito-escuro: hsl(212, 27%, 19%);
  --azul-acinzentado-muito-escuro: hsl(213, 9%, 39%);
}

/* Estilo global */
body {
  color: hsl(232, 10%, 55%);
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}

/* Fontes */
.fonte-frauces{
  font-family: "Fraunces", serif;
}

.fw-900{
  font-weight: 900;
}
.texto-azul-escuro{
  color: hsl(198, 62%, 26%); /* tex photography */
}
.texto-azul-escuro:hover{
  color: hsl(198, 62%, 26%); /* tex photography */
}
 .fonte-2rem{
   font-size: 2rem;
 }

 .bg-alinhamento{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

 .header-bg {
   background-image: url(../images/mobile/image-header.jpg);
 }

 .text-azul-acinzentado {
   color:  hsl(210, 4%, 67%);
 }
 .bg-amarelo {
   background-color: hsl(51, 100%, 49%);
 }
 .topo-200 {
     top: 200px;
 }
 .espacamento-letras{
     letter-spacing: .5rem;
 }
 .transforme-img{
   background-image: url(../images/mobile/image-transform.jpg);
 }
 .destacar-img{
   background-image: url(../images/mobile/image-stand-out.jpg);
 }
 .design-img{
   background-image: url(../images/mobile/image-graphic-design.jpg);
 }
 .fotografia-img{
   background-image: url(../images/mobile/image-photography.jpg);
 }
.texto-ciano-escuro{
  color:  hsl(167, 40%, 24%);
}

